<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css' ) }}">
</head>

<body>
  <div id="main-container">
    <h2 style="text-align:center; color: white">TABLA DE POSICIONES</h2>

    <table class="default">


      <thead>
        <tr>
          <th><b>#</b></th>
          <th><b>Nombre</b></th>
          <th><b>Score</b></th>
        </tr>
      </thead>

      {% for row in data_rows %}


      <tr>

        <td>{{loop.index}}</td>


        {% for col in row %}
        <td>{{ col }}</td>



        {% endfor %}




      </tr>

      {% endfor %}




    </table>
    <div class="contenedor-botones; text-align">
      <input class="boton uno" id="Button" type="button" value="Volver a Jugar" name="button" onclick="myFunction()">
    </div>
  </div>
  <script>
    function myFunction() {
      window.location = "http://127.0.0.1:3000/";

    }
  </script>
</body>

</html>